<navbar-component></navbar-component>
<sidenav-component></sidenav-component>
<rightscreen-component (notify)='onNotifyRightWindow()'>
</rightscreen-component>


<main id="main" class="main-content-panel">
  <div class="py-3 container-fluid">
    <div class="row">
      <div class="col-sm-1">

      <button class="btn btn-light button-no-borders"
        (click)="showHideSideClicked()" >
        <span id="show-hide-side-button" class="fa "></span>
      </button>

      </div>
      <div class="col-sm-11 ">
        <div class="row-content-header">{{ title }}</div>
      </div>
    </div>

    <div class="main-content">
      <button class="btn btn-primary"
        (click)="buttonClickedDetail()">details</button>
    </div>
  </div>
</main>

