/* boczne menu nawigacyjne */
.sidenav {
  height: 100%; /* 100% pełna wysokość */
  width: 250px; /* lub 0 - zmieniane przy użyciu JavaScriptu */
  position: fixed; /* pozostaje na miejscu */
  z-index: 1; /* pozostaje nad innymi elementami */
  top: 50px;
  left: 0;
  background-color: #111; /* czarne tło */
  overflow-x: hidden; /* bez poziomego paska przewijania */
  padding-top: 60px; /* treść przesunięta w dół o 60px  */
  transition: 0.3s;   
}

/* odnośniki nawigacyjne */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* zmiana koloru po wskazaniu odnośnika myszką */
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}
